.home-container {
    
}

.heading {
  margin: 549px 0 0 20px;
}

.subheading {
  margin: 10px 0 0 20px;
  font: normal normal normal 18px/26px Rubik;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 0.6;
}

.sign-up-button {
  margin: 29px 0 0 20px;
  height: 46px;
  width: 335px;
  border-radius: 6px;
  background-color: #6c25ff;
  color: white;
  text-align: center;
  font: normal normal medium 16px/17px Rubik;
  border: none;
}

.login-button {
  margin: 10px 0 0 20px;
  height: 46px;
  width: 335px;
  border-radius: 6px;
  background-color: #6c25ff4b;
  text-align: center;
  font: normal normal medium 16px/17px Rubik;
  border: none;
}
